// _about.scss
@import 'variables';

//Notes:
// You need SASS compiler for this. Install Sass then run/compile SASS in console. 
// Example: sass input.scss output.css
// Example for compressed: sass --style compressed input.scss output.min.css

#hero-section {
    padding-top: 10rem;
    background-color: $light_color2;
    position: relative;
    z-index: 10;
    h1 {
        font-family: $font_amalfi !important;
        font-size: 3.5rem;
        text-align: center;
        color: $primary_color;
        margin-top: 3rem;
        &.kazimir {
            font-family: $font_kazimir !important;
        }
    }
    h2 {
        font-family: $font_kazimir !important;
        font-weight: normal;
        font-size: 3rem;
        color: $primary_color;
        text-align: center;
    }
    .wave { width: 100%; }
}

#content-section {
    background-color: $primary_color;
    color: #fff;
    position: relative;
    z-index: 11;
    margin-top: -5px;
    .pt-content {
        padding: 2rem 4rem;
        line-height: 1.5;
        ul {
            margin-bottom: 2rem;
            list-style: disc;
            padding-left: 4rem;
            margin-top: 3rem;
            li {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
        ol {
            margin-bottom: 2rem;
            list-style: auto;
            margin-left: 4rem;
            margin-top: 2rem;
            li {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
        p {
            padding-bottom: 0rem;
            margin-bottom: 1.5rem;
            font-size: 1.2rem;
            a {
                color: #fff;
                text-decoration: underline;
            }
        }
        h3 {
            font-family: $font_kazimir !important;
            margin-top: 3.5rem;
            font-size: 1.3rem;
            font-weight: 500;
            color: #fff;
        }
    }
}

#bottom-footer {
    background-color: $primary_color;
}

#bottom-footer {
    margin-top: -150px;
    position: relative;
    z-index: 13;
    margin-bottom: 0;
    img {
        width: 100%;
    }
}

#footer_desktop {
    display: block;
    background-color: #033128;
    padding: 4rem 1rem;
    position: relative;
    z-index: 11;
}

@media screen and (max-width: 991px) { 
    #content-section .pt-content {
        padding: 2rem;
    }
    #hero-section {
        padding-top: 5rem;
    }
    #hero-section h1 {
        font-size: 2rem;
    }
    #hero-section h2 {
        font-size: 1.5rem;
    }
    #bottom-footer {
        margin-top: -5px;
    }
} 

@media screen and (max-width: 768px) { 
    #content-section .pt-content {
        padding: 2rem;
    }
}

@media screen and (max-width: 480px) {  
    #hero-section { padding-top: 3rem; }
    #hero-section h1 { font-size: 1.5rem; }
    #hero-section h2 { font-size: 1.3rem; }
    #content-section .pt-content h3 { font-size: 1.2rem; }
    #content-section .pt-content p { font-size: 1rem; }
    #content-section .pt-content ul li, #content-section .pt-content ol li { font-size: 1rem; }
    #content-section .pt-content ul { padding-left: 2rem; }
    #content-section .pt-content ol { margin-left: 2rem; }
    #content-section .pt-content { padding: 2rem 1rem; }
}