// _homepage.scss
@import 'variables';

#body_section {
    background-color:#F8EFD7;
}

#header_desktop {
    padding-bottom: 1rem;
}

#homepage_hero {
    background-color: $primary_color2;
    position: relative;
    // background-color: $primary_color;
    #background-video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .story_section_top {
        background-color: transparent;
        z-index: 1;
        margin-top: -8rem;
        img { width: 100%; }
    }
    .story_text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding-top: 5rem;
        z-index: 2;
        .center_container {
            max-width: 800px;
            margin-left: auto;
            margin-right: auto;
            padding-top: 5rem;
            h1 {
                font-family: $font_kazimir;
                font-size: $lg_heading;
                margin-bottom: 2rem;
                color: $light_color2;
                font-weight: normal;
            }
            p {
                font-size: $lg_paragraph_heading;
                color: $light_color2;
                margin-bottom: 1rem;
                &:nth-child(2) {
                    margin-bottom: 3rem;
                }
                &:nth-child(3) {
                    font-weight: bold;
                    margin-bottom: 2rem;
                }
                &:nth-child(5) {
                    font-size: 14px;
                }
            }
        }
    }
}

#story_section {
    position:relative;
    background-color: $light_color2;
    #story_slider {
        video {
            width: 100%;
            max-width: 100%;
        }
        .slider_next {
            position: absolute;
            bottom: 30%;
            right: 1rem;
            font-size: 3rem;
            transform: translateY(-30%);
            cursor: pointer;
        }
        .slider_prev {
            position: absolute;
            top: 34%;
            right: 1rem;
            font-size: 3rem;
            transform: translateY(-34%);
            cursor: pointer;
            z-index: 5;
        }
        .slick-dots {
            position: absolute;
            top: 50%;
            right: 1.1rem;
            transform: translateY(-50%);
            font-size: 2rem;
            li {
                cursor: pointer;
                button {
                    display: none;
                }
                &.slick-active {
                    color: $primary_color;
                }
            }
        }
    }
}


.story_section_bottom {
    // background-color: $light_color2;
    z-index: 10;
    position: relative;
    margin-top: -10rem;
    img { width: 100%; }
}

#welcome_section {
    background-color: $primary_color;
    text-align: center;
    padding: 5rem 1rem;
    h2 {
        font-weight: normal;
        color: $light_color2;
        font-size: $lg_heading;
        margin-bottom: 5rem;
        span {
            &:nth-child(1) {
                font-family: $font_kazimir;
            }
            &:nth-child(2) {
                font-family: $font_amalfi;
            }
        }
    }
    p {
        font-size: $lg_paragraph_heading;
        color: $light_color;
        max-width: 1024px;
        margin: 0 auto 1.5rem auto;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.video_section_top {
    background-color: $primary_color;
    img { width: 100%; }
}
#video_section {
    padding: 5rem 1rem;
    background-color: $primary_color2;
    p {
        font-size: $lg_paragraph_heading;
        color: $light_color2;
        margin-bottom: 1.5rem;
        line-height: 1.5;
        max-width: 80%;
        &:last-child {
            margin-bottom: 0;
            font-size: $lg_subheading2;
            font-weight: bold;
        }
    }
    .video-section-image {
        text-align: center;
        img {
            width: 80%;
        }
    }
}

.offerings_section_top { 
    background-color: $primary_color2;
    img { width: 100%; }
}
#offerings_section {
    background-color: #381d63;
    padding: 5rem 1rem;
    .offering-item {
        width: 100%;
        text-align: center;
        a {            
            img {
                display: inline-block;
            }
        }
        p {
            margin-top: 3rem;
            font-family: $font_amalfi;
            font-size: $lg_subheading2;
            color: $light_color;
            text-align: center;
            font-weight: normal;
        }
    }
    p {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 0;
        color: $light_color2;
        font-size: $lg_paragraph_heading;
    }
}
.offerings_section_bottom { 
    background-color: #381d63;
    img { width: 100%; }
}


#testimonials_section {
    background-color: $light_color2;
    padding: 5rem 1rem;
    .testimonial-list {
        max-width: 90%;
        margin-bottom: 10rem;
    }
    h2 {
        font-family: $font_amalfi;
        font-size: $lg_heading;
        margin-bottom: 5rem;
        color: $color_violet;
        text-align: center;
    }
    .testimonial-item {
        width: 90%;
        margin: 0 auto 0 auto;
        a { 
            cursor: pointer;
            display: block;
            margin-bottom: 1rem;
            img { width: 100%; }
        }
        p {
            font-size: $lg_paragraph_heading;
            margin-bottom: 0.5rem;
            color: $color_violet;
            text-align: center;
            line-height: 1.5;
            &:nth-child(2) {
                font-weight: bold;
            }
            &:nth-child(3) {
                margin-bottom: 2rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
        .standard-button {
            display: inline-block;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
    .testimonial-list-desc {
        max-width: 90%;
        margin-bottom: 5rem;
        .text-container {
            padding-top: 8rem;
            p {
                color: $primary_color2;
                font-size: $lg_paragraph;
                margin-bottom: 2rem;
                line-height: 1.5;
            }
        }
        img {
            display: inline-block;
            width: 100%;
        }
    }
}


#rwl_section {
    
    // background: url('../images/home/bg-rwl-1920.webp') no-repeat bottom center;
    // background-image: linear-gradient(180deg, rgba(20,89,76,1) 0%, rgba(37,143,125,1) 16%, rgba(255,255,255,1) 100%), url('../images/home/bg-rwl-1920.webp');


    background-image: linear-gradient(to bottom, rgba(20,89,76,1), rgba(255,255,255,0.25)), url('../images/home/bg-rwl-1920.webp');

    background-repeat: no-repeat;
    background-position: bottom center;
    .rwl_section_top {
        // background-color: $primary_color2;
        background-color: transparent;
        img { width: 100%; }
    }
    .rwl_section_main {
        height: 600px;
    }
    // background-color: $light_color;
    // background: rgb(20,89,76);
    
    .rwl_section_bottom {
        background-color: transparent;
        img { width: 100%; }
    }
}

/* 1680px */
@media screen and (min-width: 1680px) {
    /* Your styles for 1680px and larger screens */
    #story_section #story_slider .slider_next {
        bottom: 29%;
    }

    .offering-item {
        a {            
            img {
                width: 480px;
            }
        }
    }
}

/* 1600px */
@media screen and (max-width: 1600px) {
/* Your styles for 1600px and larger screens */
    #homepage_hero {
        height: 1024px;
    }
    #homepage_hero .story_section_top { margin-top: -7rem; }
    #story_section #story_slider .slider_next { bottom: 27%; }
    #story_section #story_slider .slider_prev { top: 32%; }
}

/* 1536px */
@media screen and (max-width: 1536px) {
    /* Your styles for 1440px and larger screens */
        #story_section #story_slider .slider_next {  bottom: 25%; }
        #story_section #story_slider .slider_prev { top: 30%; }
        .offering-item {
            a {            
                img {
                    width: 400px;
                }
            }
        }
    }

/* 1440px */
@media screen and (max-width: 1440px) {
/* Your styles for 1440px and larger screens */
    #story_section #story_slider .slider_next {  bottom: 25%; }
    #story_section #story_slider .slider_prev { top: 30%; }
    .offering-item {
        a {            
            img {
                width: 400px;
            }
        }
    }
}

/* 1366px */
@media screen and (max-width: 1366px) {
/* Your styles for 1366px and larger screens */
    #homepage_hero .story_section_top { margin-top: -6rem; }
    #story_section #story_slider .slider_prev { top: 30%; }
    #story_section #story_slider .slider_next { bottom: 23%; }
    #offerings_section .offering-item a img { width: 380px; }
}

/* 1360px */
@media screen and (max-width: 1360px) {
/* Your styles for 1360px and larger screens */
}

/* 1280px */
@media screen and (max-width: 1280px) {
/* Your styles for 1280px and larger screens */
    #homepage_hero { height: 768px; }
    #story_section #story_slider .slider_prev { top: 28%; }
    #story_section #story_slider .slider_next { bottom: 21%; }
}

/* 1176px */
@media screen and (max-width: 1176px) {
/* Your styles for 1176px and larger screens */
    #homepage_hero .story_section_top { margin-top: -5rem; }
    #story_section #story_slider .slider_prev { top: 26%; }
    #story_section #story_slider .slider_next { bottom: 19%; }
    .offering-item {
        a {            
            img {
                width: 340px;
            }
        }
    }
    #testimonials_section .testimonial-list-desc .text-container { padding-top: 1rem; }
}

/* 1152px */
@media screen and (max-width: 1152px) {
/* Your styles for 1152px and larger screens */
}

/* 1024px */
@media screen and (max-width: 1024px) {
/* Your styles for 1024px and larger screens */
#homepage_hero .story_text .center_container h1 { font-size: $sm_heading; }
#homepage_hero .story_text .center_container p:nth-child(2) { font-size: $sm_paragraph; }
#homepage_hero .story_text .center_container p:nth-child(3) { font-size: $sm_highlight_paragraph; }
#story_section #story_slider .slider_prev { top: 24%; }
#story_section #story_slider .slider_next { bottom: 16%; }
#welcome_section h2 { font-size: $sm_heading; }
#welcome_section p { font-size: $sm_paragraph; }
#video_section p { font-size: $sm_paragraph; }
#video_section p:last-child { font-size: $sm_highlight_paragraph; }
#offerings_section .offering-item a img { width: 280px; }
#offerings_section .offering-item p { font-size: $sm_subheading; }
#offerings_section p { font-size: $sm_paragraph; }
#testimonials_section h2 { font-size: $sm_heading; }
#testimonials_section .testimonial-item p { font-size: $sm_paragraph; }
#testimonials_section .testimonial-item .standard-button { font-size: $sm_button_size; }
#testimonials_section .testimonial-list-desc .text-container p { font-size: $sm_paragraph; }
#header_mobile input ~ nav { height: 75px; }
}

/* 800px */
@media screen and (max-width: 800px) {
    /* Your styles for 800px and larger screens */
    #homepage_hero .story_text .center_container { 
        margin-left: 2rem; 
        margin-right: 2rem;
    }
    #homepage_hero .story_text .center_container h1 { font-size: $xs_heading; }
    #homepage_hero .story_text .center_container p:nth-child(2) { font-size: $xs_paragraph; }
    #homepage_hero .story_text .center_container p:nth-child(3) { font-size: $xs_highlight_paragraph; }

    #welcome_section h2 { font-size: $xs_heading; }
    #welcome_section p { font-size: $xs_paragraph; }
    #video_section p { font-size: $xs_paragraph; }
    #video_section p:last-child { font-size: $xs_highlight_paragraph; }
    #offerings_section .offering-item p { font-size: $xs_subheading; }
    #offerings_section p { font-size: $xs_paragraph; }
    #testimonials_section h2 { font-size: $xs_heading; }
    #testimonials_section .testimonial-item p { font-size: $xs_paragraph; }
    #testimonials_section .testimonial-item .standard-button { font-size: $xs_button_size; }
    #testimonials_section .testimonial-list-desc .text-container p { font-size: $xs_paragraph; }
    #homepage_hero { height: 615px; }
    #homepage_hero .story_section_top { margin-top: 3.5rem; }
    #story_section #story_slider .slick-dots li { line-height: 1; }
    #story_section #story_slider .slider_prev { top: 20%; }
    #story_section #story_slider .slider_next { bottom: 10%; z-index: 100; }
    #story_section { margin-bottom: 5rem; }
    #welcome_section { padding: 5rem; }
    .text-md-center { text-align: center; }
    #video_section .video-section-image { margin-bottom: 2rem; }
    #video_section p { width: 100%; max-width: 100%; }
    #offerings_section .offering-item { margin-bottom: 5rem; }
    #offerings_section .offering-item a img { width: 480px; }
    #testimonials_section .col-md-12:first-child .testimonial-item { margin-bottom: 5rem; }
    #testimonials_section .testimonial-list { margin-bottom: 5rem; }
    #testimonials_section .testimonial-list-desc img { width: 480px; }
}

/* 480px */
@media screen and (max-width: 480px) {
    /* Your styles for 480px and larger screens */
    #homepage_hero { height: 675px; }
    #homepage_hero .story_section_top { margin-top: -2.5rem; }
    #offerings_section .offering-item a img { width: 380px; }
    #testimonials_section .testimonial-list-desc img { width: 380px; }
    #story_section #story_slider .slider_prev { top: 7%; }
    #story_section #story_slider .slider_next { bottom: -11%; }
    #welcome_section h2 { margin-bottom: 3rem; }
    #story_section {
        margin-bottom: 10rem;
        margin-top: 2rem;
    }
}

/* 380px */
@media screen and (max-width: 380px) {
    /* Your styles for 380px and larger screens */
    #homepage_hero .story_section_top { margin-top: -2rem; }
    #homepage_hero .standard-button.red { font-size: 0.9rem; }
    #homepage_hero .story_text .center_container h1 { font-size: 2rem; }
    #homepage_hero .story_text .center_container p:nth-child(2) { font-size: 1rem; }
    #homepage_hero .story_text .center_container p:nth-child(2) { margin-bottom: 2rem; }
    #homepage_hero .story_text .center_container p:nth-child(3) { font-size: 1rem; }
    #homepage_hero .story_text .center_container { margin-left: 1rem; margin-right: 1rem; }
    #story_section #story_slider .slider_prev { top: -4%; }
    #story_section #story_slider .slider_next { bottom: -27%; }
    #story_section {
        margin-bottom: 12rem;
        margin-top: 4rem;
    }
    #welcome_section { padding: 5rem 1.5rem; }
    #video_section .video-section-image img { width: 100%; }
    #offerings_section .offering-item a img { width: 280px; }
    #testimonials_section .testimonial-list { max-width: 100%; }
    #testimonials_section .testimonial-item { width: 100%; }
    #testimonials_section .testimonial-list-desc { max-width: 100%; }
    #testimonials_section .testimonial-list-desc img { width: 280px; }
    #testimonials_section .testimonial-list { margin-bottom: 3rem; }
    #testimonials_section .testimonial-list-desc { margin-bottom: 0rem; }
}