// _offerings.scss

@import 'variables';

//Notes:
// You need SASS compiler for this. Install Sass then run/compile SASS in console. 
// Example: sass input.scss output.css
// Example for compressed: sass --style compressed input.scss output.min.css


.rwl-item {
    .rwl-hero {
        position: relative;
            overflow: hidden;
            height: 658px; /* Set the height of the rwl-hero div */
        video {
            width: 100%;
            height: auto;
            object-fit: cover; /* This will make the video cover the entire container */
            position: absolute;
        }
        .label_section {
            position: absolute;
            top: 15rem;
            left: 15rem;
            z-index: 2;
            h1 {
                color: $light_color;
                font-size: $lg_heading;
                margin-bottom: 1rem;
                font-family: $font_amalfi;
            }
            p {
                color: $light_color;
                font-size: $lg_subheading2;
                margin-left: 5rem;
            }
        }
        .btn-previous {
            position: absolute;
            top: 17rem;
            left: 2rem;
            z-index: 2;
        }
        .btn-next {
            position: absolute;
            top: 17rem;
            right: 2rem;
            z-index: 2;
        }
    }
    .top-wave {
        margin-top: -8rem;
        z-index: 1;
        position: relative;
        img { width: 100%; }
    }
    .rwl-main {
        .standard-button {
            font-size: $lg_button_size;
        }
        .blog-main {
            padding: 0;
            color: $light_color2;
            font-size: $lg_paragraph;
            h1 {
                font-size: 3rem;
                color: $light_color2;
                margin-bottom: 1rem;
                font-family: $font_kazimir;
            }
            .heading-info {
                margin-bottom: 3rem;
                .categories {
                    display: inline-block;
                    span {
                        display: inline-block;
                        padding: 0.25rem 1rem;
                        background-color: $red_color;
                        color: $light_color2;
                        border-radius: 30px;  
                        margin-right: 0.5rem;   
                        font-size: 1.5rem;                  
                    }
                }
                .post-author {
                    font-size: 1.5rem;  
                }
            }
            p {
                margin-bottom: 2rem;
                iframe {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
            a {
                img {
                    display: block; 
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 3rem;
                }
            }
            .blog-nav {
                .next-link {
                    width: 370px;
                    text-align: right;
                    display:inline-block;
                    a {
                        color: $light_color2;
                        span {
                            display: block;
                            &:nth-child(1) {
                                text-align: right;
                                margin-bottom: 0.5rem;
                            }
                            &:nth-child(2) {
                                font-family: $font_kazimir;
                                font-weight: bold;
                            }
                        }
                    }
                }
                .prev-link {
                    text-align: left;
                    display:inline-block;
                    width: 370px;
                    a {
                        color: $light_color2;
                        span {
                            display: block;
                            &:nth-child(1) {
                                text-align: left;
                                margin-bottom: 0.5rem;
                            }
                            &:nth-child(2) {
                                text-align: left;
                                font-family: $font_kazimir;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
            .blog-content {
                margin-bottom: 5rem;
            }
        }
        
    }
}

#rwl_read {
    .rwl-hero video { top: 0rem; }
    .rwl-main {
        background: rgb(4,50,41);
        background: linear-gradient(180deg, rgba(4,50,41,1) 0%, rgba(20,89,76,1) 100%);
        .blog-item {
            .info {
                a.category-label {
                    background-color: $red_color;
                }
            }
        }
    }
}
#rwl_watch {
    .rwl-hero video { bottom: 0rem; /* Position the video at the top */ }
    .blog-item {
        .info {
            a.category-label {
                background-color: $light_green;
            }
        }
    }
}
#rwl_listen {
    .rwl-hero video { bottom: -15rem; }
    .blog-item {
        .info {
            a.category-label {
                background-color: $primary_color;
            }
        }
    }
}

.blog-item {
    margin-bottom: 4rem;
    a {
        &:nth-child(1) {
            display: block;
            margin-bottom: 1rem;
            img {
                // width: 605px;
                // height: 360px;
                width: 100%;
                border-radius: 15px;
            }
        }
        &.title {
            color: $light_color2;
            font-size: $lg_paragraph_heading;
            font-family: $font_kazimir;
        }
    }
    .info {
        font-size: 14px;
        color: $light_color2;
        font-size: $lg_paragraph;
        a.category-label {
            display: inline-block;
            padding: 0.25rem 1rem;
            background-color: $red_color;
            color: $light_color2;
            border-radius: 30px;
            margin-left: 0.5rem;
            font-weight: bold;
        }
    }
}

.rwl-item {
    .rwl-main {
        padding: 5rem 4rem 10rem 4rem;
    }
}

#rwl_read {
    .rwl-main {
        background-color: $primary_color2;
    }
}

#rwl_watch {
    .rwl-main {
        background-color: #391D64;
    }
}

#rwl_listen {
    .rwl-main {
        background-color: $red_color;
    }
}

.rwl_section_bottom {
    margin-top: -8rem;
    img {
        width: 100%;
    }
}

.podcast-embed {
    text-align: center;
    margin-bottom: 2rem;
}

.rwl-item .rwl-main .blog-main .heading-info .categories span.category-listen {
    background-color: #fff;
    color: $red_color;
}

.rwl-item .rwl-main .blog-main .heading-info .categories span.category-read {
    background-color: $red_color;
    color: #fff;
}

.rwl-item .rwl-main .blog-main .heading-info .categories span.category-watch {
    background-color: $light_green;
    color: #fff;
}

#rwl_read .blog-social-icons p a { color: $red_color;  }
#rwl_watch .blog-social-icons p a { color: $light_green; }
#rwl_listen .blog-social-icons p a { color: $light_color; }
.back_to_category_page { color: $light_color2; font-size: 1.5rem; }
.rwl-item .rwl-main .blog-main .blog-nav .next-link {
    float: right;
}

/* 1680px */
@media screen and (max-width: 1680px) {
    /* Your styles for 1680px and larger screens */
    .rwl-item .top-wave {
        margin-top: -7rem;
    }
    .rwl-item .rwl-hero .label_section {
        left: 10rem;
    }
}

@media screen and (max-width: 1537px) {
    #rwl_listen .rwl-hero video { bottom: -12rem; }
}

@media screen and (max-width: 1440px) { 
    .rwl-item .top-wave { margin-top: -6rem; }
    .rwl-item .rwl-main { padding: 5rem 2rem 8rem 2rem; }
}

@media screen and (max-width: 1280px) { 
    .rwl-item .rwl-main { padding: 5rem 1rem 8rem 1rem; }
}

@media screen and (max-width: 1180px) {
    .rwl-item .rwl-main { padding: 3rem 1rem 8rem 1rem; }
    .rwl-item .top-wave { margin-top: -5rem; }
}

@media screen and (max-width: 1024px) {
    .rwl-item .top-wave {
        margin-top: -9.5rem;
    }
}

@media screen and (max-width: 768px) {
    #rwl_read .rwl-hero video { bottom: 6rem; }
    #rwl_watch .rwl-hero video { bottom: 6rem; }
    #rwl_listen .rwl-hero video { bottom: 6rem; }
    #rwl_read.rwl-item .top-wave { margin-top: -8.5rem; }
    #rwl_watch.rwl-item .top-wave { margin-top: -9.5rem; }
    #rwl_listen.rwl-item .top-wave { margin-top: -9.5rem; }
    .rwl-item .rwl-hero .btn-previous {
        top: 13rem;
        left: 1rem;
    }
    .rwl-item .rwl-hero .btn-previous img {
        width: 60%;
    }
    .rwl-item .rwl-hero .btn-next {
        top: 13rem;
        right: 0rem;
    }
    .rwl-item .rwl-hero .btn-next img {
        width: 60%;
    }
    .rwl-item .rwl-hero {
        height: 510px;
    }
    .rwl-item .rwl-hero .label_section {
        left: 7rem;
        top: 12rem;
        h1 {
            font-size: $md_heading;
        }
        p {
            font-size: $md_paragraph_heading;
        }
    }
    #rwl_listen .rwl-hero .label_section h1 {
        color: $primary_color2;
    }
    #rwl_listen .rwl-hero .label_section p {
        color: $primary_color2;
    }
    .blog-item .info {
        font-size: $md_paragraph;
    }
    .blog-item a.title {
        font-size: $md_paragraph;
    }
    .rwl-item .rwl-main .blog-main {
        font-size: $md_paragraph;
    }
    .rwl-item .rwl-main .blog-main .blog-nav .prev-link {
        width: 300px;
    }
    .rwl-item .rwl-main .blog-main .blog-nav .next-link {
        width: 300px;
    }
    
}


@media screen and (max-width: 480px) { 
    .rwl-item .rwl-hero {
        height: 410px;
    }
    #rwl_listen.rwl-item .top-wave { margin-top: -8rem; }
    .rwl-item .rwl-hero .btn-previous {
        top: 10rem;
        left: 1rem;
    }
    .rwl-item .rwl-hero .btn-previous img {
        width: 40%;
    }
    .rwl-item .rwl-hero .btn-next {
        top: 10rem;
        right: 0rem;
    }
    .rwl-item .rwl-hero .btn-next img {
        width: 40%;
    }
    .rwl-item .rwl-hero .label_section h1 { font-size: $sm_heading; }
    .rwl-item .rwl-hero .label_section p { font-size: $sm_paragraph; }
    .rwl-item .rwl-hero .label_section {
        left: 4rem;
        top: 9rem;
    }
    .blog-item .info {
        font-size: $sm_paragraph;
    }
    .blog-item a.title {
        font-size: $sm_paragraph;
    }
    #rwl_watch.rwl-item .top-wave {
        margin-top: -8rem;
    }
    #rwl_read.rwl-item .top-wave {
        margin-top: -8rem;
    }
    #rwl_read .rwl-hero video {
        top: 3rem;
    }
    .rwl-item .rwl-main {
        padding: 3rem 1rem 12rem 1rem;
    }
    .rwl-item .rwl-main .standard-button {
        font-size: $sm_button_size;
    }
    .rwl-item .rwl-main .blog-main .blog-nav .prev-link {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }
    .rwl-item .rwl-main .blog-main .blog-nav .next-link {
        width: 100%;
        text-align: center;
        margin-bottom: 0rem;
    }
    .rwl-item .rwl-main .blog-main .blog-nav .next-link a span:nth-child(1),
    .rwl-item .rwl-main .blog-main .blog-nav .prev-link a span:nth-child(1) {
        text-align: center;
    }
    .rwl-item .rwl-main .blog-main {
        font-size: $sm_paragraph;
    }
    .rwl-item .rwl-main .blog-main h1 {
        font-size: $sm_subheading;
    }
    .rwl-item .rwl-main .blog-main .heading-info .post-author,
    .rwl-item .rwl-main .blog-main .heading-info .categories span {
        font-size: $sm_paragraph;
    }
    
}

@media screen and (max-width: 380px) { 
    #rwl_watch .rwl-hero video { bottom: 3rem; }
    #rwl_listen .rwl-hero video { bottom: 3rem; }
    .rwl-item .rwl-hero {
        height: 310px;
    }
    #rwl_listen.rwl-item .top-wave { margin-top: -4.7rem; }
    .rwl-item .rwl-hero .btn-previous {
        top: 9rem;
        left: 1rem;
    }
    .rwl-item .rwl-hero .btn-previous img {
        width: 40%;
    }
    .rwl-item .rwl-hero .btn-next {
        top: 9rem;
        right: 1rem;
        text-align: right;
    }
    .rwl-item .rwl-hero .btn-next img {
        width: 40%;
    }
    .rwl-item .rwl-hero .label_section h1 { font-size: $xs_heading; }
    .rwl-item .rwl-hero .label_section p { font-size: $xs_paragraph; margin-left: 3rem; }
    .rwl-item .rwl-hero .label_section {
        left: 3rem;
        top: 8rem;
    }
    .blog-item .info {
        font-size: $xs_paragraph;
    }
    .blog-item a.title {
        font-size: $xs_paragraph;
    }
    #rwl_watch.rwl-item .top-wave {
        margin-top: -4.7rem;
    }
    #rwl_read.rwl-item .top-wave {
        margin-top: -4.7rem;
    }
    #rwl_read .rwl-hero video {
        top: 3rem;
    }
    .rwl-item .rwl-main {
        padding: 3rem 0rem 12rem 0rem;
    }
    .rwl-item .rwl-main .standard-button {
        font-size: $xs_button_size;
    }
}
