@import 'variables';

//Notes:
// You need SASS compiler for this. Install Sass then run/compile SASS in console. 
// Example: sass input.scss output.css
// Example for compressed: sass --style compressed input.scss output.min.css

.nm { margin: 0; }
.np { padding: 0; }

#hero-section {
    position: relative;
    // height: 980px;
    z-index: 10;
    .hero-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        height: 945px;
    }
    .hero-container {
        position: absolute;
        top: 10rem;
        width: 100%;
        .hero-info {
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            h1 {
                font-family: $font_kazimir !important;
                font-size: 3rem;
                margin: 0;
                padding: 0;
                margin-bottom: 2rem;
                line-height: 1.5;
                color: $primary_color;
                text-align: center;
                width: 30%;
                margin-left: auto;
                margin-right: auto;
            }
            p {
                font-family: $font_libre_franklin !important;
                font-size: 2rem;
                margin: 0;
                padding: 0;
                line-height: 1.5;
                color: $primary_color;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                span {
                    font-family: $font_amalfi !important;
                }
            }
        }
    }
}

#hero-content-section {
    margin-top: -10rem;
    position: relative;
    z-index: 10;
    .separator-top {
        width: 100%;
    }
    .hero-content-container {
        margin-top: -5px;
        background-color: $primary_color2;
        .hero-content {
            width: 65%;
            margin-left: auto;
            margin-right: auto;
            padding: 2.5rem 0 10rem 0rem;
            color: $light-color2;
            p {
                margin-bottom: 2rem;
                font-family: $font_libre_franklin !important;
                line-height: 1.5;
                font-size: 1.3rem;
                &:last-child {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

#transformations-section {
    position: relative;
    z-index: 10;
    margin-top: -9rem;
    .separator-top {
        width: 100%;
    }
    h2 {
        color: $primary_color;
        font-size: 3rem;
        text-align: center;
        margin-bottom: 5rem;
        font-family: $font_amalfi !important;
    }
    .transformations-content {
        padding: 2.5rem 0 10rem 0;
        margin-top: -5px;
        background-color: $light_color2;
    }
}

#working-with-jennifer-section {
    position: relative;
    z-index: 11;
    margin-top: -9rem;
    .separator-top {
        width: 100%;
    }
    .working-with-jennifer-section-container {
        padding: 5rem 0 10rem 0;
        margin-top: -5px;
        background-color: $light_green;
        h2 {
            color: $light-color2;
            font-size: 3rem;
            text-align: center;
            margin-bottom: 5rem;
            font-family: $font_amalfi !important;
        }
        .testimonial-list .testimonial-item .testimonial-info { background-color: $red_color; }
    }
}

.testimonial-list {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    .testimonial-item {
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        margin-bottom: 1.5rem;
        a {
            position: relative;
            display: inline-block;
            img {
                display: block;
                width: 100%;
                height: auto;
                margin-bottom: 5rem;
            }
            .overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #14594C;
                opacity: 0; /* Initially hidden */
                transition: opacity 0.3s ease; /* Smooth transition effect */
            }
            &:hover {
                .overlay {
                    opacity: 0.5; /* Show overlay on hover */
                }
            }
        }
        .testimonial-box {
            position: absolute;
            bottom: 0;
            width: 100%;
            .testimonial-info {
                background-color: $light_green;
                padding: 1rem 2.5rem 1.5rem 2.5rem;
                width: 100%;
                text-align: center;
                span {
                    display: block;
                    font-size: 1.2rem;
                    color: $light-color2;
                    &.name {
                        font-family: $font_kazimir !important;
                        font-weight: bold;
                        font-size: 1.2rem;
                    }
                    &.industry {
                        font-family: $font_libre_franklin !important;
                        font-size: 1.1rem;
                    }
                    &.short-blurb {
                        font-family: $font_libre_franklin !important;
                        font-weight: bold;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}

#footer-separator {
    position: relative;
    z-index: 15;
    margin-top: -9rem;
    img {
        width: 100%;
    }
}

#footer_desktop {
    position: relative;
    background: #033128;
    z-index: 15;
}

#footer_mobile {
    position: relative;
    z-index: 11;
  }

.livweal-text-modal  {
    .modal-dialog {
        .modal-content {
            background-color: $light-color2;
            border-radius: 30px;
            border: 0;
            .modal-header {
                border-bottom: none;
            }
            .livweal-modal-body {
                color: $primary_color;
                font-family: $font_libre_franklin !important;
                font-size: 1.2rem;
                padding: 7rem 2.5rem;
                position: relative;
                .author {
                    margin-top: 5rem;
                    font-family: $font_amalfi;
                    font-size: 2rem;
                    text-align: right;
                }
                .quotes-left {
                    position: absolute;
                    top: 0rem;
                    left: 2rem;
                    z-index: 1;
                }
                .quotes-right {
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;
                    z-index: 1;
                }
                .modal-main-content {
                    position: relative;
                    z-index: 10;
                }
                .circle-photo {
                    border-radius: 50%;
                }
            }
        }
    }
}

@media screen and (max-width: 1778px) {
    #hero-section .hero-container .hero-info h1 { 
        width: 70%;
    }
}

@media screen and (max-width: 1563px) {

    .testimonial-list .testimonial-item .testimonial-box .testimonial-info span.name { font-size: 1.1rem; }
    .testimonial-list .testimonial-item .testimonial-box .testimonial-info span.industry { font-size: 1rem; }
    .testimonial-list .testimonial-item .testimonial-box .testimonial-info span.short-blurb { font-size: 1rem; }
}

@media screen and (max-width: 1536px) {
    #hero-content-section {
        margin-top: -20rem;
    }
    #hero-content-section .hero-content-container .hero-content { width: 75%; }
}

@media screen and (max-width: 1514px) {
    #hero-section .hero-container .hero-info p {
        width: 75%;
    }
}

@media screen and (max-width: 1380px) {
    .testimonial-list .testimonial-item a {
        display: block;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 1333px) {
    #hero-section .hero-container .hero-info h1 { 
        width: 70%;
    }
} 

@media screen and (max-width: 1280px) {
    #hero-content-section .hero-content-container .hero-content {
        width: 85%;
    }
}

@media screen and (max-width: 1240px) {
    .testimonial-list .testimonial-item a {
        margin-bottom: 7.5rem;
    }
}

@media screen and (max-width: 1199px) {
    .testimonial-list .testimonial-item a {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 1180px) {
  
}

@media screen and (max-width: 1080px) {
    .testimonial-list .testimonial-item a {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    #hero-section .hero-container {
        top: 10rem;
    }
    #hero-section .hero-bg {
        height: 960px;
    }
    #hero-section .hero-container .hero-info h1 {
        font-size: 2.5rem;
    }
    #hero-section .hero-container .hero-info p {
        font-size: 1.5rem;
    }
    .testimonial-list .testimonial-item a {
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 991px) {
    #hero-content-section .hero-content-container .hero-content p {
        font-size: 1rem;
    }
    #transformations-section h2 { font-size: 2rem; }
    #working-with-jennifer-section .working-with-jennifer-section-container h2 { font-size: 2rem; }
    .testimonial-list .testimonial-item a {
        margin-bottom: 0rem;
    }
    .livweal-text-modal .modal-dialog .modal-content .livweal-modal-body .circle-photo {
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 781px) {
    .livweal-text-modal .modal-dialog .modal-content .livweal-modal-body .author {
        line-height: 2;
    }
}

@media screen and (max-width: 635px) {
    #hero-section .hero-container .hero-info h1 { width: 90%; }
    #hero-section .hero-container .hero-info p { width: 90%; }
}

@media screen and (max-width: 602px) {
    #hero-section .hero-container .hero-info h1 {
        font-size: 2rem;
    }
    #hero-section .hero-container .hero-info p {
        font-size: 1.2rem;
    }
    #hero-section .hero-container {
        top: 8rem;
    }
    #hero-section .hero-container .hero-info p {
        width: 90%;
    }
    #hero-section .hero-bg { 
        height: 768px;
    }
}

@media screen and (max-width: 481px) {
    #hero-section .hero-container .hero-info h1 { width: 90%; }
    #transformations-section h2,
    #working-with-jennifer-section .working-with-jennifer-section-container h2 { 
        font-size: 1.8rem;
        line-height: 2;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #hero-content-section .hero-content-container .hero-content {
        width: 100%;
        padding: 3.5rem 2rem 12rem 2rem;
    }
    .livweal-text-modal .modal-dialog .modal-content .livweal-modal-body {
        padding: 7rem 1rem;
    }
}

@media screen and (max-width: 380px) {
    #hero-section .hero-container .hero-info h1 { font-size: 1.8rem; margin-bottom: 1.2rem; }
    .testimonial-list .testimonial-item a {
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 360px) {
    .testimonial-list .testimonial-item a {
        margin-bottom: 3.5rem;
    }
}


@media screen and (max-width: 1440px) {
    
}