// _testimonials.scss
@import 'variables';

//Notes:
// You need SASS compiler for this. Install Sass then run/compile SASS in console. 
// Example: sass input.scss output.css
// Example for compressed: sass --style compressed input.scss output.min.css

#testimonials-hero {
    background: url('../images/bg/woman-standing-rock-formation-during-daytime-1920.webp') no-repeat top center;
    min-height: 1280px;
    padding: 10rem 4rem 0 4rem;
    position:relative;
    z-index: 1;
    .testimonials-hero-overlay {
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #14594C;
        opacity: 0.5;
    }
    h1 {
        font-family: $font_kazimir;
        color: $light_color;
        max-width: 550px;
        font-size: $lg_subheading;
        line-height: 1.5;
        margin-bottom: 2rem;
        font-weight: normal;
        position: relative;
        z-index: 2;
    }
    p {
        max-width: 550px;
        color: $light_color;
        font-size: $lg_paragraph_heading;
        position: relative;
        z-index: 2;
    }
}

#dark-green-wave {
    background-color: transparent;
    margin-top: -7rem;
    position: relative;
    z-index: 10;
}

#testimonials-categories {
    padding-top: 2rem;
    background-color: $primary_color2;
    text-align: center;
    #testimonial-category-item {
        position: relative;
        z-index: 10;
        a {
            padding: 0 0.5rem;
            img {
                width: 285.45px;
                height: 285.45px;
            }
            &:hover {
                img {
                    outline: 3px solid #fff;
                    border-radius: 50%;
                }
            }
        }
    }
    #violet-wave {
        background-color: transparent;
        margin-top: -3rem;
    }
    p {
        font-size: $lg_paragraph_heading;
        color: $light_color2;
        text-align: center;
        margin-bottom: 2rem;
        font-family: $font_kazimir;
    }
}

#testimonials-category-content {
    background-color: $color_violet;
    padding-top: 5rem;
    padding-bottom: 10rem;
    .product {
        .title-section {
            margin-bottom: 3rem;
            h2 {
                text-align: center;
                font-family: $font_amalfi;
                font-size: $lg_heading;
                margin-bottom: 0.5rem;
                color: $light_color2;
            }
            p {
                font-size: $lg_highlight_paragraph;
                color: $light_color2;
                text-align: center;
            }
        }
    }
    .testimonial-item {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
        img {
            width: 100%;
        }
        p {
            text-align: center;
            color: $light_color2;
            margin-bottom: 1.5rem;
            font-size: $lg_paragraph;
            &:nth-child(2) {
                font-family: $font_kazimir;
            }
            &:nth-child(3) {
                margin-bottom: 3rem;
            }
            span {
                display: block;
            }
        }
    }
}

#tab-wave {
    background-color: transparent;
    margin-top: -10rem;
}

.double-wave-bottom {
    margin-top: -7rem;
}

.double-wave-bottom-footer {
    margin-top: -7rem;
}


.testimonials-containers {
    position: relative;
    padding-bottom: 10rem;
    background-color: $primary_color;
    &.first {
        background: rgb(4,50,41);
        background: linear-gradient(180deg, rgba(4,50,41,1) 0%, rgba(4,50,41,1) 10%, rgba(20,89,76,1) 100%);
    }
    .bird {
        position: absolute;
        top: 0;
        left: 0;
    }
    .tree {
        position: absolute;
        top: -5rem;
        right: 0;
    }
    .butterfly {
        position: absolute;
        top: -5rem;
        right: 1rem;
    }
    .flower {
        position: absolute;
        bottom: 7rem;
        left: 1rem;
    }
    .right_double_quote {
        position: relative;
        span {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            font-size: 20rem;
            color: $light_color;
            text-align:center;
            font-family: $font_kazimir;
        }
    }
    .testimonial-content {
        &.normal-padding-top {
            padding-top: 5rem;
        }
        padding-top: 20rem;
        padding-bottom: 5rem;
        .light-box {
            border: 1px solid $light_color2;
            padding: 3rem;
            height: 100%;
            border-radius: 30px;
            p {
                color: $light_color2;
                line-height: 1.5;
                &:nth-child(1) {
                    font-size: $lg_paragraph;
                    margin-bottom: 5rem;
                }
                &:nth-child(2) {
                    font-family: $font_amalfi;
                    font-size: $lg_subheading;
                    margin-bottom: 1rem;
                }
                &:nth-child(3) {
                    font-size: $lg_highlight_paragraph;
                    width: 70%;
                }
            }
        }
    }
}

.double-wave-top {
    margin-top: -8rem;
    z-index: 10;
    position: relative;
}

.testimonials-column {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: $light_color2;
    .testimonial-column-content {
        .image {
            img {
                width: 100%;
            }
        }
        .text-content {
            .box {
                padding-top: 6rem;
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: $lg_paragraph;
                    color: $primary_color2;
                    line-height: 1.5;
                    margin-bottom: 5rem;
                }
                .row {
                    .left {
                        p {
                            font-family: $font_amalfi;
                            font-size: $lg_subheading2;
                            margin-bottom: 0;
                        }
                    }
                    .right {
                        p {
                            font-size: $lg_paragraph;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

#testimonials-003 {
    height: 300px;
    background-color: $primary_color2;
}

#testimonials-004 {
    height: 300px;
    background-color: $light_color2;
}

#testimonials-005 {
    height: 300px;
    background-color: $primary_color2;
}

#testimonials-006 {
    height: 300px;
    background-color: $light_color2;
}




